<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
    <link href='{ROOT}resources/css/common.css' rel='stylesheet' type='text/css' media='screen'/>
    <link href='{ROOT}resources/css/first.css' rel='stylesheet' type='text/css' media='screen'/>
</head>
<body>

<div id="page">
    <h1>{title}</h1>
    <h2>Current User: {userName} #{userId}</h2>
    {cats}
    {content}
</div>

<input type="hidden" id="userId" value="{userId}"/>

<script type="text/javascript" src="{ROOT}resources/js/XMLHttpRequest.js"></script>
<script type="text/javascript" src="{ROOT}resources/js/eventF.js"></script>
<script type="text/javascript" src="{ROOT}resources/js/first.js"></script>
</body>
</html>